<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EvacuationPointMapper">
    
    <resultMap type="EvacuationPoint" id="EvacuationPointResult">
        <result property="id"    column="id"    />
        <result property="platformNo"    column="platform_no"    />
        <result property="pointName"    column="point_name"    />
        <result property="floor"    column="floor"    />
        <result property="xAxis"    column="x_axis"    />
        <result property="yAxis"    column="y_axis"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectEvacuationPointVo">
        select id, platform_no, point_name, floor, x_axis, y_axis, remark, create_time, update_time, deleted from evacuation_point
    </sql>

    <select id="selectEvacuationPointList" parameterType="EvacuationPoint" resultMap="EvacuationPointResult">
        <include refid="selectEvacuationPointVo"/>
        <where>  
            deleted = 0
            <if test="platformNo != null and platformNo != ''"> and platform_no = #{platformNo}</if>
            <if test="pointName != null  and pointName != ''"> and point_name like concat('%', #{pointName}, '%')</if>
            <if test="floor != null  and floor != ''"> and floor = #{floor}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectEvacuationPointById" parameterType="Long" resultMap="EvacuationPointResult">
        <include refid="selectEvacuationPointVo"/>
        where id = #{id} and deleted = 0
    </select>
        
    <select id="checkPointNameUnique" parameterType="String" resultMap="EvacuationPointResult">
        <include refid="selectEvacuationPointVo"/>
        where point_name = #{pointName} and platform_no = #{platformNo} and deleted = 0 limit 1
    </select>
    
    <insert id="insertEvacuationPoint" parameterType="EvacuationPoint" useGeneratedKeys="true" keyProperty="id">
        insert into evacuation_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">platform_no,</if>
            <if test="pointName != null and pointName != ''">point_name,</if>
            <if test="floor != null">floor,</if>
            <if test="xAxis != null">x_axis,</if>
            <if test="yAxis != null">y_axis,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">#{platformNo},</if>
            <if test="pointName != null and pointName != ''">#{pointName},</if>
            <if test="floor != null">#{floor},</if>
            <if test="xAxis != null">#{xAxis},</if>
            <if test="yAxis != null">#{yAxis},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateEvacuationPoint" parameterType="EvacuationPoint">
        update evacuation_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">platform_no = #{platformNo},</if>
            <if test="pointName != null and pointName != ''">point_name = #{pointName},</if>
            <if test="floor != null">floor = #{floor},</if>
            <if test="xAxis != null">x_axis = #{xAxis},</if>
            <if test="yAxis != null">y_axis = #{yAxis},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEvacuationPointById" parameterType="Long">
        update evacuation_point set deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteEvacuationPointByIds" parameterType="String">
        update evacuation_point set deleted = 1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
