<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PersonFaceMapper">
    
    <resultMap type="PersonFace" id="PersonFaceResult">
        <result property="id"    column="id"    />
        <result property="platformNo"    column="platform_no"    />
        <result property="personId"    column="person_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="featureData"    column="feature_data"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPersonFaceVo">
        select id, platform_no, person_id, image_url, feature_data, create_time from person_face
    </sql>

    <select id="selectPersonFaceList" parameterType="PersonFace" resultMap="PersonFaceResult">
        <include refid="selectPersonFaceVo"/>
        <where>  
            <if test="platformNo != null and platformNo != ''"> and platform_no = #{platformNo}</if>
            <if test="personId != null "> and person_id = #{personId}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url like concat('%', #{imageUrl}, '%')</if>
        </where>
    </select>
    
    <select id="selectPersonFaceById" parameterType="Long" resultMap="PersonFaceResult">
        <include refid="selectPersonFaceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPersonFace" parameterType="PersonFace" useGeneratedKeys="true" keyProperty="id">
        insert into person_face
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">platform_no,</if>
            <if test="personId != null">person_id,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="featureData != null">feature_data,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">#{platformNo},</if>
            <if test="personId != null">#{personId},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="featureData != null">#{featureData},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePersonFace" parameterType="PersonFace">
        update person_face
        <trim prefix="SET" suffixOverrides=",">
            <if test="platformNo != null and platformNo != ''">platform_no = #{platformNo},</if>
            <if test="personId != null">person_id = #{personId},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="featureData != null">feature_data = #{featureData},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePersonFaceById" parameterType="Long">
        delete from person_face where id = #{id}
    </delete>

    <delete id="deletePersonFaceByIds" parameterType="String">
        delete from person_face where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
